{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Department{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% include 'user/partials/nav.html' %}
<!-- Department main content -->
<div class="p-2">
    <div class="ml-6">
        <ol class="list-reset flex">
            <li class="text-gray-500">Modules</li>
            <li><span class="text-gray-500 mx-2">/</span></li>
            <li class="text-gray-500">Department</li>
        </ol>
    </div>
    {% with permission=perms.department %}
        {% if not permission %}

        <div class="bg-red-100 rounded-lg mt-6 py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
            You don’t have permission to view or edit anything in department module.
        </div>

        {% else %}
        
        <div class="flex w-full mt-2">
            {% include 'user/partials/toast-component.html' %}
                <div class="flex-auto w-3/4 p-6 items-center justify-center">
                    <div class="block p-6 rounded-lg shadow-lg bg-white w-2/3">
                        <div class="flex justify-between px-6">
                            <div class="mb-3 xl:w-96">
                                <form action="{% url 'search_department' %}">
                                    <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
                                        <input type="search" name="q" id="search_department" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                        <button class="btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="submit" id="search_department_btn">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="flex relative">
                                <div class="inline-block mx-2 my-2 cursor-pointer" title="Print" data-bs-toggle="collapse" data-bs-target="#print_options" aria-expanded="false" aria-controls="print_options">
                                    <svg class="w-6 h-6 text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"></path></svg>
                                    <div class="collapse" id="print_options">
                                        <div class="block rounded-lg shadow-lg bg-white">
                                            <div class="flex justify-center">
                                                <div class="absolute bg-white rounded-lg border border-gray-200 w-auto text-gray-900">
                                                    <a href="{% url 'department_print_all_pdf' %}" target="_blank">
                                                        <span class="block px-6 py-2 whitespace-nowrap border-b border-gray-200 w-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-0 focus:bg-gray-200 focus:text-gray-600 transition duration-500 cursor-pointer">
                                                            Print all
                                                        </span>
                                                    </a>
                                                    <a href="{% url 'department_print_page' %}">
                                                        <div class="block px-6 py-2 whitespace-nowrap border-b border-gray-200 w-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-0 focus:bg-gray-200 focus:text-gray-600 transition duration-500 cursor-pointer">
                                                            Batch Print
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inline-block mx-2 my-2 cursor-pointer" title="Export" data-bs-toggle="collapse" data-bs-target="#export_options" aria-expanded="false" aria-controls="export_options">
                                    <svg class="w-6 h-6 text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
                                    <div class="collapse" id="export_options">
                                        <div class="block rounded-lg shadow-lg bg-white">
                                            <div class="flex justify-center">
                                                <div class="absolute bg-white rounded-lg border border-gray-200 w-auto text-gray-900">
                                                    <a href="{% url 'department_export_all_csv' %}">
                                                        <span class="block px-6 py-2 whitespace-nowrap border-b border-gray-200 w-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-0 focus:bg-gray-200 focus:text-gray-600 transition duration-500 cursor-pointer">
                                                            Export all as CSV
                                                        </span>
                                                    </a>
                                                    <a href="{% url 'department_export_all_pdf' %}" target="_blank">
                                                        <div class="block px-6 py-2 whitespace-nowrap border-b border-gray-200 w-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-0 focus:bg-gray-200 focus:text-gray-600 transition duration-500 cursor-pointer">
                                                            Export all as PDF
                                                        </div>
                                                    </a>
                                                    <a href="{% url 'department_export_page' %}">
                                                        <div class="block px-6 py-2 whitespace-nowrap border-b border-gray-200 w-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-0 focus:bg-gray-200 focus:text-gray-600 transition duration-500 cursor-pointer">
                                                            Batch Export
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% render_table table %}
                    </div>
                </div>
                <div class="flex-auto w-1/4 p-6 items-center justify-center">
                    <div class="block p-6 rounded-lg shadow-lg bg-white w-2/3">
                        {% if permission.add_department or permission.change_department or permission.view_department or permission.delete_department %}
                            <form method="POST" action="/department/create/" id="form_department">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <small><sup id="char_count"> </sup></small>
                                <button type="submit" id="btn_department"
                                    class="w-full mt-6 px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                    Add Department
                                </button>
                                <div class="flex">
                                    <div class="hidden ml-2" id="toggle_view_department_btn">
                                        <a id="view_department_btn"
                                            class="inline-block px-6 py-2.5 mt-6 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out">
                                            View Department
                                        </a>
                                    </div>
                                    <div class="hidden ml-2" id="toggle_clear_department_btn">
                                        <a href="{% url 'department' %}"
                                            class="inline-block px-6 py-2.5 mt-6 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                                </form>
                        {% else %}
                            {{ "You don't have access to this department panel." }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
</div>
{% else %}
    {% include 'user/pages/default-home.html' %}
{% endif %}

{% endblock %}