<q>Dashboard</q>
<!-- {% if not perms.auth %}

    <div class="bg-red-100 rounded-lg mt-6 py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
        You don’t have permission to view or edit anything.
    </div>
{% else %}
    <div class="flex items-center justify-center h-screen">
        <p>Dashboard is coming soon! This page includes stats and data analytics.</p>
    </div>
{% endif %} -->

<div class="flex items-center justify-center h-screen">
    <p>Dashboard is coming soon! This page includes stats and data analytics.</p>
</div>