{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load humanize %}

{% block title %}Employee{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% include 'user/partials/nav.html' %}
<!-- Department main content -->
<div class="p-2">
    <div class="ml-6">
        <ol class="list-reset flex">
            <li class="text-gray-500">Modules</li>
            <li><span class="text-gray-500 mx-2">/</span></li>
            <li><a href="{% url 'employee' %}" class="text-blue-600 hover:text-blue-700">Employee</a></li>
            <li><span class="text-gray-500 mx-2">/</span></li>
            <li class="text-gray-500">View</li>
        </ol>
    </div>
    <div class="flex justify-center">
        <div class="flex justify-center">
            <div class="block rounded-lg shadow-lg bg-white max-w-sm text-center">
                <div class="py-3 px-6 border-b border-gray-300">
                    <h5 class="text-gray-900 text-xl font-medium m-2">{{ employee.name }}</h5>
                </div>
                <div class="p-6">
                    <sup>Department</sup>
                    <h5 class="text-gray-900 text-xl font-normal mb-2">{{ employee.department }}</h5>
                    
                    <p>Designation:
                        {% if employee.position %}
                            {{ employee.position }}
                        {% else %}
                            N/A
                        {% endif %}
                    </p>
                    <p class="text-gray-700 text-base mb-4">
                        {{ employee.email }}
                    </p>
                </div>
                <div class="py-3 px-6 border-t border-gray-300 text-gray-600">
                    Employed at {{ employee.employed_at|naturalday }}
                </div>
            </div>
        </div>
    </div>

</div>
{% else %}
{% include 'user/pages/default-home.html' %}
{% endif %}

{% endblock %}